@{
    Layout = null;
    if (Session["Account"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<!DOCTYPE html>

<html  style="background-color:#CBE0F5; font-family:微軟正黑體">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>iMoto管理系統</title>
    <style>
        #Dashboard-div {
            position: absolute;
            left: 40%;
            padding: 10px 10px;
        }
    </style>
</head>

<body>
    <div id="Dashboard-div">
        <h1>iMoto管理系統主畫面</h1>
        <br>
        請點選以下欲使用的功能<br><br>
        @Html.ActionLink("機車資料查詢", "Index", "MotoSearch","",new { style="font-size:18px"})<br><br>
        @Html.ActionLink("客戶資料管理", "Index", "CustomerManagement","",new { style="font-size:18px"})<br><br>
        @Html.ActionLink("客戶消費紀錄", "Index", "TransactionRecord","",new { style="font-size:18px"})<br><br><br><br>


        <a href="@Url.Action("LogOut","Home")">會員登出</a>
    </div>
</body>

</html>


